[Unit]
Description=aws_secrets_serviced
After=network.target

[Service]
Type=notify
EnvironmentFile=/etc/default/aws-secrets-serviced
ExecStart=@/usr/bin/python3 aws_secrets_serviced -m aws_secrets_serviced $ARGS
User=root
Group=root

[Install]
WantedBy=multi-user.target
